body{background-color: #614866;font-size:14px;}
.bg-dark{ background-color:#614866 !important;}
.jumbotron{ background-color:#614866; padding-top:0; }

.container-nav{ display:none}
h1 { text-indent: 100%;white-space: nowrap;overflow: hidden;line-height:0; }
h2 { font-size:20px; }

.btn{ background-color:#614866; border:2px solid #ffffff; border-radius:4px;}
.btn:hover{ background-color:#ffffff; border:2px solid #614866; border-radius:4px; color: #614866;}

video, img{ max-width:100%; height:auto;}

.section-full-width{
	background-color:#ffffff;padding:25px 0;
	box-shadow: 5px 0 5px 0 #ffffff;
}
.section-full-width .btn{ background-color:#ffffff; border:2px solid #614866; border-radius:4px; color: #614866;}

footer{ font-size:11px; color:#ffffff; text-align:right; padding-top:7px;}
footer a{color:#ffffff;}
footer a:hover{ color:#ffffff; text-decoration:unerline;}
